<!DOCTYPE html>
<html>
  <head>
    <title>Flask - Behavior Driven Development</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <!-- inheritance -->
      {% block content %}
      {% endblock %}
      <!-- end inheritance -->
    </div>
  </body>
</html>